/* Barra de búsqueda */
.navbar-search {
  width: 400px; /* Aumenta el tamaño para mayor visibilidad */
  padding: 12px; /* Más padding para una mejor apariencia */
  font-size: 16px; /* Aumento el tamaño de la fuente */
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 10px;
  transition: width 0.3s ease;
}

.navbar-search:focus {
  width: 450px; /* Expande al tener el foco */
  border-color: #007bff;
}

/* Estilo para los resultados de búsqueda */
.search-results {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los resultados */
  gap: 20px; /* Más espacio entre los resultados */
  margin-top: 20px;
}

/* Estilo para cada usuario en los resultados */
.search-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #f7f7f7; /* Fondo suave */
  padding: 15px;
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  width: 90%; /* Ajusta el tamaño de los resultados */
  max-width: 700px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-item:hover {
  background-color: #e2e8f0; /* Cambia de color al pasar el mouse */
}

.search-item img {
  width: 50px; /* Tamanho uniforme para las fotos */
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.search-item .profile-icon {
  width: 50px; /* Tamanho uniforme para los iconos de perfil */
  height: 50px;
}

.search-item div {
  display: flex;
  flex-direction: column;
}

.search-item strong {
  font-size: 16px; /* Ajuste de tamaño */
  font-weight: 600;
}

.search-item p {
  font-size: 14px; /* Tamaño adecuado para el username */
  color: #6B7280; /* Gris para el texto */
}

/* Ajustar los iconos en el navbar */
.profile-photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-icons .icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

/* Notificaciones */
.notification-icon {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: #EF4444; /* Red-500 */
  color: white;
  font-size: 10px;
  font-weight: bold;
  border-radius: 9999px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
