/* Barra de búsqueda */
.navbar-search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  position: relative;
}

.navbar-search {
  width: 500px;  /* Agrandar el tamaño inicial */
  padding: 12px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 20px;
  transition: width 0.3s ease;
}

.navbar-search:focus {
  width: 550px;  /* Agranda al tener el foco */
  border-color: #007bff;
}

/* Estilo para los resultados de búsqueda */
.search-results {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Centra los resultados */
  gap: 15px;  /* Mayor separación entre los resultados */
  margin-top: 20px;
  width: 100%;  /* Se ajusta al ancho disponible */
  max-width: 800px; /* Para evitar que se estire demasiado */
  margin: 20px auto; /* Centra los resultados en la página */
}

/* Estilo para cada usuario en los resultados */
.search-item {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-item:hover {
  background-color: #e2e8f0;
}

.search-item img {
  width: 50px; /* Tamaño uniforme para las fotos */
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.search-item .profile-icon {
  width: 50px; /* Icono de perfil uniforme */
  height: 50px;
}

.search-item div {
  display: flex;
  flex-direction: column;
}

.search-item strong {
  font-size: 16px;
  font-weight: 600;
}

.search-item p {
  font-size: 14px;
  color: #6B7280;
}
